doctype html
html
  head
    title= title + seprator + appTitle

    //-css block
    block css
    //-scripts block
    block scripts
      script(src="./javascripts/plugin/jquery-1.12.1.js")
      //-bundle which is created by webpack
      script(src="./bundle.js")

  body

    //- loading
    #mainLoading
      .spinner
        .bounce1
        .bounce2
        .bounce3
    #ajaxLoading
      .spinner
        .bounce1
        .bounce2
        .bounce3

    div#wrapper
      block content




    div(style="display:none;")!=developerCopyRight
