extends layout

append scripts
  script(src="./javascripts/auth/app.js")

block content
  
  div#loginBoxCont
    #loginBox
      h1="پنل.ورود"
      .form-group.pmd-textfield.pmd-textfield-floating-label
        label.control-label.pmd-input-group-label کاربر.نام_کاربری
        .input-group
          .input-group-addon
            i.material-icons.md-dark.pmd-sm perm_identity
          input.form-control(type='text',data-required='required')
          span.control-label.validation-span پر کردن این فیلد اجباری می‌باشد.
      .form-group.pmd-textfield.pmd-textfield-floating-label
        label.control-label.pmd-input-group-label کاربر.گذرواژه
        .input-group
          .input-group-addon
            i.material-icons.md-dark.pmd-sm https
          input.form-control(type='password',data-required='required')
          span.control-label.validation-span پر کردن این فیلد اجباری می‌باشد.

      button.btn.pmd-btn-raised.pmd-ripple-effect.btn-warning(type='button')
        | ورود()
      .loginArrow.ltLoginArrow {
      .loginArrow.rtLoginArrow }
