@font-face{
    src: url('../../fonts/B Homa_0.ttf');
    font-family:homa;
}
@font-face{
    src:url('../../fonts/B Zar_0.ttf');
    font-family:zar;
}
@font-face{
    src:url('../../fonts/Iranian%20Sans.ttf');
    font-family:isans;
}
@font-face{
    src : url('../../fonts/danstevis.otf');
    font-family:dastnevis;
}
@font-face{
    src : url('../../fonts/Yekan.ttf');
    font-family:yekan;
}
@font-face{
    src : url('../../fonts/Far_Morvarid.ttf');
    font-family:morvarid;
}
@font-face{
    src : url('../../fonts/IranNastaliq.ttf');
    font-family:nastaliq;
}
@font-face{
    src : url('../../fonts/vijaya.ttf');
    font-family:vijaya;
}
@font-face{
    src: url('../../fonts/Far_Nazanin.ttf');
    font-family:nazanin;
}
@font-face{
    src:url('../../fonts/Inconsolata.otf');
    font-family:inconsolata;
}