@import "../global/_globalStyles.sass"

#wrapper
    width: 100%
    height: 100%
    display: table
    position: absolute
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    background-color: $lightBackColor

header#mainHeader
    z-index: 10
    width: 100%
    height: 70px
    background-color: $boldBackColor
    padding-right: 15px
    padding-left: 15px
    position: fixed
    top: 0px
    right: 0px
    left: 0px

    #rtHeader
        min-width: 300px
        height: 70px
        float: right
        display: table

        #userName
            min-width: 150px
            height: 70px
            padding-top: 5px
            padding-bottom: 5px
            text-align: center
            font-size: 26px
            float: right
            line-height: 60px
            color: white
            text-shadow: $textShadow
        #userWarnings
            min-width: 90px
            height: 30px
            float: right
            border-bottom: 1px solid $redColor
            line-height: 30px
            padding: 0px 5px 0px 5px
            margin: 20px 10px 0px 0px
            color: white

            i
                width: 20px
                height: 30px
                line-height: 30px
                text-align: center
                float: right
                font-size: 20px
                margin-left: 5px
                color: $redColor
            span:nth-of-type(1)
                width: 10px
                height: 30px
                display: table
                font-weight: bold
                float: right
                padding: 0px 2px 0px 2px
            span:nth-of-type(2)
                height: 30px
                line-height: 30px
                float: right
    #middleHeader
        width: 70px
        height: 70px
        margin: auto
        display: block
        padding: 5px 0px 5px 0px
        img
            width: 100%
            height: 100%
    #ltHeader
        width: 300px
        height: 70px
        float: left
        
        #timeCountCont
            width: 150px
            height: 35px
            margin-top: 17.5px
            line-height: 35px
            font-size: 20px
            padding: 0px 5px 0px 5px
            float: right
            border-bottom: 1px solid $secondaryColor
            i
                width: 35px
                height: 35px
                line-height: 35px
                text-align: center
                color: white
                float: right
            span
                height: 35px
                width: calc(100% - 35px)
                line-height: 35px
                display: block
                float: right
                color: white
                text-align: center
                font-size: 18px
                font-family: yekan
        #endQuizBtn
            margin: 17.5px 10px 0px 0px
#rtSideBar
    z-index: 100
    height: calc(100% - 95px)
    position: fixed
    right: 0px
    top: 70px
    background-color: $boldBackColor
    padding: 0px

    header
        width: 100%
        height: 70px
        background-color: $secondaryColor
        div
            min-width: 200px
            display: table
            margin: auto
            i
                width: 40px
                height: 70px
                line-height: 70px
                text-align: center
                color: white
                font-size: 22px
                font-style: normal
                display: inline-block
                font-family: $codeFontFamily
                float: right
            span
                width: 100px
                height: 70px
                line-height: 70px
                color: white
                font-family: $sFontFamily
                display: inline-block
                float: right
                font-size: 20px
    &>ul
        width: 100%
        height: 100%
        padding: 5px 10px 5px 10px
        margin: 0px
        &>li
            width: 100%
            height: 60px
            background-color: $lightBackColor
            margin-bottom: 5px
            list-style-type: none
            cursor: pointer

            &>i
                background-color: darken($lightBackColor,15%)
                width: 60px
                height: 60px
                line-height: 60px
                color: white
                display: inline-block
                font-style: normal
                font-family: $sFontFamily
                font-size: 30px
                text-align: center
            &>ul
                width: calc(100% - 60px)
                height: 60px
                margin: 0px
                padding: 0px
                float: left
                li
                    width: 100%
                    height: 30px
                    text-align: center
                &>li:first-of-type
    .proBar
        width: 0px
        transition-duration: 0.5s
        transform-origin: right
        background-color: $secondaryColor
        height: 2px
        float: right
#mainContent
    min-height: calc(100% - 90px)
    background-color: lighten($boldBackColor,10%)
    display: table
    float: left
    margin-top: 70px
    header#tabs
        width: 100%
        height: 80px
        padding-top: 5px
        .tab.activeTab .tabProgress
            width: 100%!important
        .tab.activeTab .tabText
            background-color: $boldBackColor!important
        .tab
            height: 100%
            float: right
            cursor: pointer
            .tabText
                width: 100%
                background-color: lighten($boldBackColor,5%)
                height: calc(100% - 3px)
                line-height: 70px
                color: white
                text-align: center
                border-top-right-radius: 5px
                border-top-left-radius: 5px
                font-family: $sFontFamily
                font-size: 20px
            .tabProgressCont
                width: 100%
                height: 3px
                background-color: lighten($boldBackColor,10%)
                .tabProgress
                    width: 0px
                    height: 3px
                    transform-origin: center
                    transition-duration: 0.3s
                    margin: auto
                    background-color: $secondaryColor
    #slideCont
        height: 100%
        overflow: hidden
        margin-right: 15px
        #slidesCont
            display: table
            transition-duration: 0.5s
            transition-timing-function: ease-out
            .slide
                min-height: 400px
                display: table
                float: right
                background-color: $boldBackColor
#mainFooter
    width: 100%
    height: 25px
    background-color: darken($boldBackColor,10%)
    position: fixed
    bottom: 0px
    right: 0px
    left: 0px
    padding: 0px 15px 0px 15px
    #onlineStatus
        width: 200px
        display: inline-block
        height: 25px
        line-height: 25px
        color: white
        font-size: 12px
        i
            width: 10px
            height: 10px
            background-color: green
            float: right
            display: block
            border-radius: 50%
            margin: 7.5px 5px 7.5px 5px;
        span
            height: 25px
            display: table
            line-height: 25px
            display: block
            font-size: 10px
            float: right
    #programmer
        float: left
        display: inline-block
        height: 25px
        line-height: 25px
        color: white
        font-family: $codeFontFamily
        direction: ltr
        font-size: 12px
        a
            padding: 2px
            color: $secondaryColor