extends layout

block content
  #wrapper
    header#mainHeader
      #rtHeader
        #userName {{پویا مظفرمقام}}
        #userWarnings
          i.material-icons warning
          span 0
          span اخطار
      #ltHeader
        #timeCountCont.pmd-z-depth
          i.material-icons alarm
          span 13:00:00
        button#endQuizBtn.btn.pmd-btn-raised.pmd-ripple-effect.btn-danger اتمام آزمون
      #middleHeader
        img(src="./images/ikiu_logo.png")
    aside#rtSideBar.col-lg-2.col-md-3.col-sm-3.pmd-z-depth
      header
        div
          i= '<?'
          span لیست سوالات
          i= '_>'
      ul
        li.notMarked.notSolverd
          i 1
          ul
            li حل نشده
            li علامت گذاری نشده
          i.proBar
    main#mainContent.col-lg-10.col-md-9.col-sm-9
      header#tabs
        .tab.col-lg-3.activeTab
          .tabText.pmd-ripple-effect سوال
          .tabProgressCont
            .tabProgress
        .tab.col-lg-3
          .tabText.pmd-ripple-effect محیط کدنویسی
          .tabProgressCont
            .tabProgress
        .tab.col-lg-3 
          .tabText.pmd-ripple-effect گزارش
          .tabProgressCont
            .tabProgress
        .tab.col-lg-3
          .tabText.pmd-ripple-effect='بران;)'
          .tabProgressCont
            .tabProgress
      #slideCont
        #slidesCont
          #challengeCont.slide
          #codingCont.slide
          #report.slide
    footer#mainFooter
      #onlineStatus
        i.pmd-z-depth
        span اتصال برقرار است;)
      #programmer
        = 'Coded With Love By '
        a(href="http://pmzi.ir",target="_blank").pmd-btn-flat.pmd-ripple-effect.btn-link='Pouya:)'


      