doctype html
html
  head
    title= appTitle

    //-css block
    block css
    //-scripts block
    block scripts
    script(src="./javascripts/plugin/jquery-1.12.1.js")
    //-bundle which is created by webpack
    script(src="./bundle.js")

  body
    

     block content
      
    
